
<div class="owl-carousel-item position-relative">
    <img class="img-fluid" src="/assets/img/carousel-2.jpg" alt="">
    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-sm-10 col-lg-8"> 
<div >

    <!-- <section style="background-color: #666262;">
  
      <div class="container py-2" >
        <div class="row justify-content-center mb-3" >
          <div class="col-md-12 col-xl-10" >
            <div class="card shadow-0 border rounded-5">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0" >
                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
                      <img src="/assets/img/cat-1.jpg " height="150"
                           class="w-100"/>
                      <a href="#!">
                        <div >
                        <div class="hover-overlay"style="background-color: #0c4128;">
                          <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                        </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-6">
  
                    <h5> </h5>
                    <div class="d-flex flex-row">
                      <div class="text-danger mb-1 me-2">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <span>310</span>
                    </div>
                    <div class="mt-1 mb-0 text-muted small">
                      <span></span>
                    </div>
                    <p class="text-truncate mb-4 mb-md-0">
                     
                    </p>
                  </div>
                  <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                    <div class="d-flex flex-row align-items-center mb-1">
                      <h6 class="mb-1 me-1">Place disponible :</h6>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-1">
                      <div class="d-flex flex-row align-items-center mb-1">
                        <h6 class="mb-1 me-1">Date fin :</h6>
                      </div>
                    </div>
                    <div >
                      <h6 class="text-danger"></h6>
                    </div>
                    <div >
                      <h6 class="text-success"></h6>
                    </div>
                    <div class="d-flex flex-column mt-4">
  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </section> -->
    
  </div>
  <div>
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <label class="form-label" style="color: rgb(255, 255, 255); font-weight: bold;">List</label>

                <a href="">Show All</a>
            </div>
            <input type="text" name="titre" ngModel class="form-control"
            aria-describedby="emailHelp"  required #titre=''>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-white">
                            <th scope="col"><input class="form-check-input" type="checkbox"></th>
                            <th scope="col">Date</th>
                            <th scope="col">Invoice</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                     
                        <tr>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td>01 Jan 2045</td>
                            <td>INV-0123</td>
                            <td>Jhon Doe</td>
                            <td>$123</td>
                            <td>Paid</td>
                            <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                        </tr>
                        <tr>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td>01 Jan 2045</td>
                            <td>INV-0123</td>
                            <td>Jhon Doe</td>
                            <td>$123</td>
                            <td>Paid</td>
                            <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                        </tr>
                        <tr>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td>01 Jan 2045</td>
                            <td>INV-0123</td>
                            <td>Jhon Doe</td>
                            <td>$123</td>
                            <td>Paid</td>
                            <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
  